//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 23 14:15:25 2017
//! **************************************************************************

SCHEMATIC START;
COMP "MISO" LOCATE = SITE "P78" LEVEL 1;
COMP "SCLK" LOCATE = SITE "P75" LEVEL 1;
COMP "MOSI" LOCATE = SITE "P74" LEVEL 1;
COMP "SS_n" LOCATE = SITE "P59" LEVEL 1;
COMP "AUDIO" LOCATE = SITE "P10" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "P87" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "P85" LEVEL 1;
COMP "ram_A<10>" LOCATE = SITE "P16" LEVEL 1;
COMP "ram_A<11>" LOCATE = SITE "P21" LEVEL 1;
COMP "ram_A<12>" LOCATE = SITE "P23" LEVEL 1;
COMP "ram_A<20>" LOCATE = SITE "P44" LEVEL 1;
COMP "ram_A<13>" LOCATE = SITE "P22" LEVEL 1;
COMP "ram_A<14>" LOCATE = SITE "P24" LEVEL 1;
COMP "ram_A<15>" LOCATE = SITE "P30" LEVEL 1;
COMP "ram_A<16>" LOCATE = SITE "P33" LEVEL 1;
COMP "ram_A<17>" LOCATE = SITE "P34" LEVEL 1;
COMP "ram_A<18>" LOCATE = SITE "P43" LEVEL 1;
COMP "ram_A<19>" LOCATE = SITE "P17" LEVEL 1;
COMP "ram_W_n" LOCATE = SITE "P41" LEVEL 1;
COMP "ram_A<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "ram_A<1>" LOCATE = SITE "P56" LEVEL 1;
COMP "ram_A<2>" LOCATE = SITE "P57" LEVEL 1;
COMP "ram_A<3>" LOCATE = SITE "P51" LEVEL 1;
COMP "ram_A<4>" LOCATE = SITE "P48" LEVEL 1;
COMP "ram_A<5>" LOCATE = SITE "P40" LEVEL 1;
COMP "ram_A<6>" LOCATE = SITE "P35" LEVEL 1;
COMP "ram_A<7>" LOCATE = SITE "P15" LEVEL 1;
COMP "ram_A<8>" LOCATE = SITE "P12" LEVEL 1;
COMP "ram_A<9>" LOCATE = SITE "P14" LEVEL 1;
COMP "ram_D<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "ram_D<1>" LOCATE = SITE "P47" LEVEL 1;
COMP "ram_D<2>" LOCATE = SITE "P45" LEVEL 1;
COMP "ram_D<3>" LOCATE = SITE "P46" LEVEL 1;
COMP "ram_D<4>" LOCATE = SITE "P27" LEVEL 1;
COMP "ram_D<5>" LOCATE = SITE "P26" LEVEL 1;
COMP "ram_D<6>" LOCATE = SITE "P29" LEVEL 1;
COMP "ram_D<7>" LOCATE = SITE "P32" LEVEL 1;
COMP "GREEN3<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "GREEN3<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "GREEN3<2>" LOCATE = SITE "P84" LEVEL 1;
COMP "CLK50MHz" LOCATE = SITE "P55" LEVEL 1;
COMP "BLUE3<0>" LOCATE = SITE "P88" LEVEL 1;
COMP "BLUE3<1>" LOCATE = SITE "P92" LEVEL 1;
COMP "BLUE3<2>" LOCATE = SITE "P93" LEVEL 1;
COMP "JOYSTICK1<0>" LOCATE = SITE "P1" LEVEL 1;
COMP "JOYSTICK1<1>" LOCATE = SITE "P5" LEVEL 1;
COMP "JOYSTICK1<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "JOYSTICK1<3>" LOCATE = SITE "P7" LEVEL 1;
COMP "JOYSTICK1<4>" LOCATE = SITE "P2" LEVEL 1;
COMP "JOYSTICK1<5>" LOCATE = SITE "P8" LEVEL 1;
COMP "LEDS<7>" LOCATE = SITE "P11" LEVEL 1;
COMP "RED3<0>" LOCATE = SITE "P79" LEVEL 1;
COMP "RED3<1>" LOCATE = SITE "P80" LEVEL 1;
COMP "RED3<2>" LOCATE = SITE "P81" LEVEL 1;
COMP "PS2_DATA" LOCATE = SITE "P98" LEVEL 1;
COMP "PS2_CLK" LOCATE = SITE "P99" LEVEL 1;
PIN XLXI_512/XLXI_221/COUNT_1_BUFG_pin<1> = BEL
        "XLXI_512/XLXI_221/COUNT_1_BUFG" PINNAME O;
PIN "XLXI_512/XLXI_221/COUNT_1_BUFG_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK50MHz_BUFGP/IBUFG" PERIOD = 19.95 ns HIGH 50%;
SCHEMATIC END;

